body{
    background-color: #969696;
    font-size: 100%;
    width: 100%;
}
.background-img-main{
    width: 50%;
    margin: 0 auto;
    padding-top: 5vw;
    padding-bottom: 5vw;  
}
.background-img-main img{
    opacity: 0.5;
    max-width: 100%;
    height: auto;
    width: auto\9;
    display: block;
    margin: auto;
}
h1.main-title{
    font-family: 'Trochut', serif;
    font-size: 8vw;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.main-text{
    font-family: 'Gentium Book Basic', serif;
    font-size: 3.5vw;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.buttons{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    padding-top: 5vw;
    padding-bottom: 5vw;
}
#yesterday{
    float: left;
}
#today{
    margin-left: 5vw;
    margin-right: 5vw;
}
#tomorrow{
    float: right;
}