body{
    background-color: #969696;
    font-size: 100%;
}
#background-img-main{
    width: 50%;
    margin: 0 auto;
    padding-top: 5vw;
    padding-bottom: 5vw;  
}
#background-img-main img{
    opacity: 0.5;
    max-width: 100%;
    height: auto;
    width: auto\9;
    display: block;
    margin: auto;
}
#main-title{
    font-family: 'Trochut', serif;
    font-size: 8vw;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
#day, #journal{
    font-family: 'Gentium Book Basic', serif;
    font-size: 5vw;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 3vw;
}
#main-text, #prompt, #fact-main{
    font-family: 'Gentium Book Basic', serif;
    font-size: 3.5vw;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
#buttons{
    width: 85%;
    margin: 0 auto;
    padding-top: 5vw;
    padding-bottom: 5vw;
    text-align: center;
}
#yesterday{
    width: 20%;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Trochut', serif;
    font-size: 2vw;
    background-color: #333333;
    color: #969696;
    border-radius: 2vw;
    border: none;
}
#today, #back{
    margin-left: 5vw;
    margin-right: 5vw;
    width: 40%;
    padding-top: 5vw;
    padding-bottom: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
    font-family: 'Trochut', serif;
    font-size: 5vw;
    background-color: #003300;
    color: #969696;
    border-radius: 5vw;
    border: none;
}
#tomorrow{
    width: 20%;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    font-family: 'Trochut', serif;
    font-size: 2vw;
    background-color: #333333;
    color: #969696;
    border-radius: 2vw;
    border: none;
}